@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme(colors.gray.50);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 2px;
  margin: auto;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}